body {
    background-color: #d3d3d3;
    height: 100vh;
    width: 100%;
    margin: 0px;
}

.top {
    background-color: #404040;
    height: 10%;
    width: 100%;

}

.middle {
    background-color: #ffffff;
    height: 100vh;
    width: 175vh;
    margin: 0 auto;

}

.bottom {
    background-color: #131313;
    height: 10%;
    width: 175vh;
    margin: 0 auto;

}